// 代码库重置
.content pre{
    margin: 0!important;
}
.page-edit, .page-nav,
.theme-default-content:not(.custom) {
    max-width: 1000px !important;
}

.theme-default-content.custom img {
    border: 1px solid $borderColor
}